<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DesktopManager.Properties.Settings>
            <setting name="style_Stretch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="style_Center" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="use_Timer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="style_Tyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timer_Use" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timer_Time" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="last_ScanDir" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>English</value>
            </setting>
        </DesktopManager.Properties.Settings>
    </userSettings>
</configuration>